@import url('https://fonts.googleapis.com/css2?family=Karla&family=Shippori+Antique+B1&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*
    AJUSTES GENERALES
*/

h3{
    background-color: #5277c7;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: .9em;
    padding: .4em .5em;
}

hgroup{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #5277c7;
    padding: 0 .5em;
}

hgroup p{
   font-size: .7em;
   color: #fff;
   font-family: 'Karla', sans-serif;
   margin: 0 .2em;
}

a{
    color: #3e9722;
}




/*
    AJUSTES ESPECÃFICOS
*/

header{
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    background: linear-gradient(180deg, rgba(62,151,34,1) 0%, rgba(202,230,70,1) 47%, rgba(255,255,255,1) 100%);    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 20px 0 20px;
    border-radius: .5em;
    
}

header .logo > p:first-of-type{
    font-size: 1.4em;
    font-weight: bolder;
    font-family: 'Shippori Antique', sans-serif;
    letter-spacing: -1px;
}

header > nav{
    display: flex;
    flex-flow: row wrap;
    
}

header > nav > a{
    background: radial-gradient(circle, rgba(248,251,234,1) 31%, rgba(224,255,75,1) 100%); 
    padding: .5em 1.5em;
    border-radius: .1em;
    margin: 0 .1em;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    color: #000;
    
}

header > nav > a:hover{
    background: none;
    background-color: #feb445;
}



main{
    display: flex;
    flex-flow: row nowrap;
    max-width: 920px;
    margin: 1em auto;
    justify-content: center;
    position: relative;
    padding: 1em;
}

.border{
    width: 100%;
    height: 100px;
    border: .2em solid #71d12d;
    border-width: .2em .2em 0 .2em;
    border-radius: 1em 1em 0 0;
    position: absolute;
    top: 0;
    
}


main > section:first-child{
    width:220px;
}

main > section:first-child h3{
    text-align: center;
}

main > section:first-of-type form {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 1em;
    
}

form .input{
    display: flex;
    flex-flow: column nowrap;
}

main > section:first-of-type form > *{
    margin: .2em 0;
}

main > section:first-child >article:nth-of-type(2) > section{
    padding: .5em;
}

.unidad-trabajo{
    margin: 1em 0;
}


main > section:nth-of-type(2){
    width: 480px;
    padding-left: 20px;
}



main > section:nth-of-type(2) > article:first-of-type > div{
    padding: 1em;
    border-bottom: dotted grey .1em;
}

main > section:nth-of-type(2) > article:first-of-type > div img{
    float: left;
    margin: 0 .4em .4em 0 ;
}

main > section:nth-of-type(2) > article:first-of-type > div p{
    text-align: justify;
}

main > section:nth-of-type(2) > article:first-of-type > p{
    margin: 1em 0 1em 1em;
    font-size: .8em;
}


main > section:nth-of-type(2) > article:nth-of-type(2) > div{
    padding: 1em;
    border-bottom: dotted grey .1em;
}

main > section:nth-of-type(2) > article:nth-of-type(2) > div > section > *{
    margin: 1em  0;
    
    
}

main > section:nth-of-type(2) > article:nth-of-type(2) > div > section ul, main > section:nth-of-type(2) > article:nth-of-type(2) > div > section ol {
    padding-left: 3em;
    
}

main > section:nth-of-type(2) > article:nth-of-type(2) > div > section:first-of-type{
    
    max-width: 90%;
    margin: 1em auto;
    text-align: justify;
    font-style: italic;
}


main > section:nth-of-type(2) > article:nth-of-type(2) > div > section:last-of-type > p:last-of-type{
    font-size: .8em;
    margin: 1em 0 1em 1em;
}



main > section:last-child{
    width: 180px;
    padding-left: 20px;
}

main > section:last-child ul{
    margin: 1em;
 
}

main > section:last-child figure{
    text-align: center;
}




footer{
    width: 920px;
    padding: 2em 0;
    margin: 2em auto 0 auto;
    text-align: center;
    border: .2em solid #71d12d;
    border-width: .2em .2em 0 .2em;
    border-radius: 1em 1em 0 0;
    font-family: 'Karla', sans-serif;
    font-size: .8em;

}



