@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header{
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    background: linear-gradient(180deg, rgba(62,151,34,1) 0%, rgba(202,230,70,1) 47%, rgba(255,255,255,1) 100%);    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 20px 0 20px;
    
}

header .logo > p:first-of-type{
    font-size: 1.4em;
    font-weight: bolder;
    font-family: 'Shippori Antique', sans-serif;
    letter-spacing: -1px;
}

header > nav{
    display: flex;
    flex-flow: row wrap;
    background-color: red;
}

header > nav > a{
    background: radial-gradient(circle, rgba(248,251,234,1) 31%, rgba(224,255,75,1) 100%); 
    padding: .5em 1em;
}